<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body class="grey-bg ">
    <div class="white-bg">
        <div class="list-box">
            <h4>현재 시각</h4>
            <p> <%=data %></p>
        </div>
    </div class="white-bg">



      <style>
        .grey-bg {
        background: #eee;
        }
        .white-bg {
        background: white;
        margin: 20px;
        border-radius: 5px;
        }
        .list-box {
        padding : 10px;
        border-bottom: 1px solid#eee;
        }
        .list-box h4{
        font-size: 16px;
        margin: 5px;
        }
        .list-box p {
        font-size: 13px;
        margin: 5px;
        color: grey;
        }
      </style>
</body>
</html>